.gnb {
  @include flexbox(between);
  width: 100%;
  margin: 0 auto 1rem;
  overflow-x: hidden;

  button {
    padding: 1rem 0;
    cursor: pointer;
  }

  .btn-menu {
    a {
      padding: 1rem;
    }
  }

  .btn-menu:hover,
  .btn-guide:hover {
    .fa-solid {
      color: $color-blue;
    }
  }

  .ic-chevron,
  .ic-guide {
    font-size: 2.6rem;
    color: $color-gray-400;
  }

  .ic-guide {
    padding: 0.5rem;
  }

  @include responsive(T) {
    padding: 0 1rem;
    margin: 0 auto 2rem;
  }
}
