.loading {
  @include flexbox;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: $color-white;
  opacity: 0;
  transition: 0.5s;

  &.before-load {
    opacity: 1;
  }
}

.loading-circle {
  width: 5.4rem;
  height: 5.4rem;
  animation: loading-spin 3s infinite;

  circle {
    stroke: $color-blue;
    stroke-width: 4;
    stroke-dasharray: 157;
    stroke-dashoffset: -157;
    fill: transparent;
    animation: loading-circle-ani 3s infinite;
  }
}

@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-circle-ani {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
