.search-wrapper {
  position: relative;

  .input-search {
    width: 300px;
    height: 50px;
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: rgba($color-white, 0.7);
    border: 1px solid $color-gray-300;
    border-radius: 25px;

    &.active {
      background-color: rgba($color-white, 1);
      border: none;
      border-radius: 5px;
    }

    &::placeholder {
      color: $color-gray-300;
    }
  }

  .search-btn {
    position: absolute;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: transparent;

    .ic-search {
      font-size: 2.6rem;
      color: $color-blue;
    }
  }

  .error-text {
    @include text-style(14);
    display: none;
    padding-left: 1.6rem;
    margin-bottom: 4rem;
    color: $color-red;
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    &.is-active {
      display: block;
      opacity: 1;
    }
  }

  .search-result {
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    width: 300px;
    padding: 10px;
    background-color: rgba($color-white, 0.7);
    border-radius: 5px;

    &.is-active {
      display: block;
    }

    .result-list {
      @include text-style(16, $color-gray-400);
      padding-left: 0.8rem;
      font-weight: 700;

      li {
        padding: 5px 10px;
        cursor: pointer;
        transition: all 300ms ease-in-out;

        &:hover,
        &.is-active {
          color: $color-gray-700;
          background-color: rgba($color-blue, 0.3);
        }
      }
    }
  }
}
