@import '../index.scss';

.beachInfoWrapper {
  @include flexbox;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: flex-start;

  .icWrapper {
    width: 32px;
    height: 32px;
    margin-right: 0.8rem;
  }

  .faSolid {
    font-size: 28px;
    color: $color-gray-300;
    text-align: center;
    transition: color ease-in-out 300ms;

    &.faWater {
      font-size: 26px;
    }

    .infoList {
      flex-grow: 2;
    }
  }

  @include responsive(T) {
    flex-direction: column;
    margin-bottom: 3rem;

    .faSolid {
      margin-right: 0;
    }

    &:hover {
      .faSolid {
        color: $color-blue;
      }
    }
  }

  @include responsive(D) {
    width: 200px;
    margin: 0 1rem;
  }
}
