@import '../index.scss';

.container {
  height: 100vh;
  padding: 2rem;

  .main {
    @include flexbox;
    position: relative;
    z-index: 99;
    flex-direction: column;
    max-width: 720px;
    margin: 0 auto;

    .title {
      font-size: 4.4rem;
      font-weight: 900;
      letter-spacing: -0.03em;
      color: $color-gray-700;
    }
  }
}
