@import '../index.scss';

.gnb {
  @include flexbox(between);
  width: 100%;
  overflow-x: hidden;

  button {
    padding: 0.6rem 0;
    cursor: pointer;
  }

  .btnMenu {
    a {
      padding: 1rem;
    }
  }

  .btnMenu:hover,
  .btnGuide:hover {
    .faSolid {
      color: $color-blue;
    }
  }

  .icChevron,
  .icGuide {
    font-size: 2.8rem;
    color: $color-gray-400;
  }

  .icGuide {
    font-size: 2.4rem;
    padding: 0.5rem;
  }

  @include responsive(T) {
    padding: 0.4rem 0;
    margin: 0 auto 1rem;
  }
}
