@import '../index.scss';

.titleWrapper {
  @include flexbox;
  flex-direction: column;
  margin-bottom: 4rem;

  .title {
    margin-bottom: 1rem;
  }
}

.descText {
  @include text-style(16);
  color: $color-gray-400;
}
