@import '../index.scss';

.infoList {
  @include text-style(18);
  z-index: 999;
  display: grid;
  padding: 1rem 0;
  text-align: left;
  grid-template-columns: 30px 100px 30px 100px;

  dt,
  dd {
    padding: 0.5rem 0;
    line-height: 1.7;
  }

  dt {
    text-align: left;
    font-weight: 400;
    color: $color-gray-400;
  }

  dd {
    min-width: 10rem;
    margin-right: 0;
    font-weight: 700;
    color: $color-gray-700;

    .unit {
      font-weight: 400;
      color: $color-gray-400;
    }
  }

  @include responsive(T) {
    max-width: 17.6rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
