$color-white: rgb(255, 255, 255);
$color-gray-100: rgba(239, 239, 239, 1);
$color-gray-300: rgba(204, 204, 204, 1);
$color-gray-400: rgba(119, 119, 119, 1);
$color-gray-500: rgba(85, 85, 85, 1);
$color-gray-700: rgba(35, 35, 35, 1);

$color-red: rgb(240, 86, 68);
$color-light-blue: rgba(62, 203, 212, 1);
$color-blue: rgba(62, 122, 212, 1);
